<%- include("./layout/header.ejs") %>
<div style="max-width: 520px; margin: 20px auto; padding: 20px; background: #f4f6f9; border-radius: 8px; box-shadow: 0 2px 8px #a0bbf786;">
    <h1 style="text-align: center; font-size: 1.8rem; margin-bottom: 10px; color: #060606;"><%= title %></h1>
    <p style="font-size: 1rem; color: #333; line-height: 1.6; margin-bottom: 20px; text-align: justify;">
        Вітаю на даній сторінці! Мене звати Діана і я творець цього сайту.
    </p>
    <p style="font-size: 1rem; color: #666666; line-height: 1.6; margin-bottom: 20px; text-align: justify;">
        Все, що ви зараз бачите - час та зусилля, що були конвертовані в нові навички. Дякую Вам, що приділили цьому увагу.
         Ви зробили великий вклад у мій розвиток. Уявлення не маю чи відповіла на ваші запитання раніше, але думаю, що це все було не дарма. <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-top" viewBox="0 0 16 16">
          <path d="M2 14.5a.5.5 0 0 0 .5.5h11a.5.5 0 1 0 0-1h-1v-1a4.5 4.5 0 0 0-2.557-4.06c-.29-.139-.443-.377-.443-.59v-.7c0-.213.154-.451.443-.59A4.5 4.5 0 0 0 12.5 3V2h1a.5.5 0 0 0 0-1h-11a.5.5 0 0 0 0 1h1v1a4.5 4.5 0 0 0 2.557 4.06c.29.139.443.377.443.59v.7c0 .213-.154.451-.443.59A4.5 4.5 0 0 0 3.5 13v1h-1a.5.5 0 0 0-.5.5m2.5-.5v-1a3.5 3.5 0 0 1 1.989-3.158c.533-.256 1.011-.79 1.011-1.491v-.702s.18.101.5.101.5-.1.5-.1v.7c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13v1z"/>
        </svg>
    </p>
    <button
        onclick="window.history.back()"
        class="btn btn-primary w-100 py-2"
        type="button"
        style="background-color: #0f2e9f; color: #fff; border: none; padding: 10px; font-size: 1rem; border-radius: 4px; cursor: pointer;">
        Go Back
    </button>
</div>
<%- include("./layout/footer.ejs") %>
